:root {
  --primary-color: rgb(0, 117, 255);
  --secondary-color: rgb(43, 45, 46);
  --light-color: rgb(245, 245, 245);
  --dark-color: rgb(40, 39, 42);
  --font-family-base: "Roboto", sans-serif;
  --font-family-code: "Source Code Pro", monospace;
  --font-line-height-base: 1.75;
  --font-weight-base: 400;
  --font-size-extra-small: 1rem;
  --font-size-small: 1.618rem;
  --font-size-medium: 2.618rem;
  --font-size-large: 4.236rem;
  --font-size-extra-large: 6.854rem;
  --spacing-extra-small: 0.512rem;
  --spacing-small: 0.8rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.6rem;
  --spacing-extra-large: 2.441rem;
  --border-radius-small: 0.4rem;
  --border-radius-medium: 0.8rem;
  --border-radius-large: 1.953rem;
  --border-thin: 1px solid rgba(0, 0, 0, 0.2);
  --z-index-back: 1000;
  --z-index-base: 2000;
  --z-index-front: 3000;
}

.hidden {
  display: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  line-height: var(--font-line-height-base);
  z-index: var(--z-index-base);
}

ol,
ul {
  list-style: none;
}

small {
  font-size: var(--font-size-extra-small);
}

p {
  font-size: var(--font-size-medium);
}

h1 {
  font-size: var(--font-size-large);
}

.text--important {
  font-weight: 700;
}
.text--light {
  opacity: 0.6;
}
.text--lightest {
  opacity: 0.4;
}
.text--link {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}
.text--link:hover {
  color: var(--accent-color);
}
.text--small {
  font-size: var(--font-size-small);
}
.text--x-small {
  font-size: var(--font-size-extra-small);
}
.text--center {
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--font-size-small) calc(var(--font-size-small) * 1.33);
  font-size: var(--font-size-small);
  gap: calc(var(--font-size-small) / 2);
  font-family: var(--font-family-base);
}
.btn svg {
  width: 1.25em;
}
.btn--primary, .btn--secondary, .btn--primary-outline, .btn--secondary-outline {
  border-radius: var(--border-radius-small);
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: scale 1s ease-out, opacity 6ms ease-in-out;
}
.btn--primary:hover, .btn--secondary:hover, .btn--primary-outline:hover, .btn--secondary-outline:hover {
  opacity: 0.8;
  transition: opacity 0s;
}
.btn--primary:active, .btn--secondary:active, .btn--primary-outline:active, .btn--secondary-outline:active {
  scale: 0.98;
  transition: scale 0s;
}
.btn--primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}
.btn--secondary {
  background-color: var(--secondary-color);
  color: var(--dark-color);
}
.btn--primary-outline, .btn--secondary-outline {
  background-color: transparent;
}
.btn--primary-outline {
  border: 1px solid var(--primary-color);
}
.btn--secondary-outline {
  border: 1px solid var(--secondary-color);
}
.btn--secondary-outline:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-large);
  gap: var(--spacing-large);
  border: var(--border-thin);
  border-radius: var(--border-radius-small);
  width: 60rem;
}
fieldset legend {
  font-size: var(--font-size-small);
  padding: 0px var(--spacing-small);
  font-weight: 500;
}
fieldset label {
  font-size: var(--font-size-small);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

select {
  font-size: var(--font-size-small);
  border: none;
  cursor: pointer;
}
select:focus-visible {
  outline: none;
}

.field {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.04);
  padding: 1em 1.33em;
  border-radius: var(--border-radius-small);
  gap: var(--spacing-small);
}
.field:focus-within, .field:hover {
  border: 1px solid var(--primary-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-medium);
  font-family: var(--font-family-base);
}

.actions {
  display: flex;
  gap: var(--spacing-large);
  width: 100%;
}

.output {
  border: var(--border-thin);
  width: 60rem;
  padding: var(--spacing-medium);
}

.clipboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--dark-color);
  padding: var(--spacing-medium);
  font-family: var(--font-family-code);
  font-size: var(--font-size-small);
  font-weight: 100;
  color: var(--light-color);
}
.clipboard__copy, .clipboard__copied {
  align-self: flex-end;
  height: 24px;
  cursor: pointer;
}
.clipboard h2 {
  text-align: center;
}
